<section id="about" class="anchor">
	<div class="about">
		<div class="container-fluid">
			<div class="grid">
				<div class="column">
					{{- with .Params.a_title -}}<h1>{{ markdownify . }}</h1>{{- end -}}
					{{- with .Params.a_subtitle -}}<h2>{{ markdownify . }}</h2>{{- end -}}
					{{- with .Params.a_1 -}}<p>{{ markdownify . }}</p>{{- end -}}
					<a class="button button-primary" href="tel:732-557-9900">Call Us</a>
					<a class="button button-secondary" href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6115.817215130001!2d-74.216052!3d39.965796!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c19df669efd831%3A0x1628ad20e731f025!2s664%20Commons%20Way%20Building%20I%2C%20Toms%20River%2C%20NJ%2008755!5e0!3m2!1sen!2sus!4v1567958389249!5m2!1sen!2sus" target="_blank">Directions</a>
				</div>
			</div>
		</div>
	</div>
</section>