<section id="contact" class="anchor">
	<div class="contact">
		<div class="container">
			<div class="grid">
				<div class="column"></div>
				<div class="column">
					{{- with .Params.a_title -}}<h3>{{ markdownify . }}</h3>{{- end -}}
					<div style="text-align: center;">
					<form method="POST" action="https://felderdigital.activehosted.com/proc.php" id="_form_4_" class="_form _form_4 _inline-form  _dark" novalidate>
					  <input type="hidden" name="u" value="4" />
					  <input type="hidden" name="f" value="4" />
					  <input type="hidden" name="s" />
					  <input type="hidden" name="c" value="0" />
					  <input type="hidden" name="m" value="0" />
					  <input type="hidden" name="act" value="sub" />
					  <input type="hidden" name="v" value="2" />
					  <div class="_form-content">
					    <div class="_form_element _x33138773 _full_width _clear" >
					      {{- with .Params.a_1 -}}<div class="_form-title">{{ markdownify . }}</div>{{- end -}}
					    </div>
					    <div class="_form_element _x39210044 _full_width _clear" >
					      {{- with .Params.a_2 -}}<div class="_html-code">{{ markdownify . }}</div>{{- end -}}
					    </div>
					    <div class="_form_element _x91399043 _full_width " >
					      <label class="_form-label">
					        Name
					      </label>
					      <div class="_field-wrapper">
					        <input type="text" name="fullname" placeholder="Type your name" />
					      </div>
					    </div>
					    <div class="_form_element _x46094194 _full_width " >
					      <label class="_form-label">
					        Email*
					      </label>
					      <div class="_field-wrapper">
					        <input type="text" name="email" placeholder="Type your email" required/>
					      </div>
					    </div>
					    <div class="_form_element _field4 _full_width " >
					      <label class="_form-label">
					        Phone*
					      </label>
					      <div class="_field-wrapper">
					        <input type="text" name="field[4]" value="" placeholder="Type your phone number" required />
					      </div>
					    </div>
					    <div class="_button-wrapper _full_width">
					      <button id="_form_4_submit" class="_submit" type="submit">
					        Submit
					      </button>
					    </div>
					    <div class="_clear-element">
					    </div>
					  </div>
					  <div class="_form-thank-you" style="display:none;">
					  </div>
					</form>
					</div>
				</div>
				<div class="column"></div>
			</div>
		</div>
	</div>
</section>
<section class="visit">
	<div class="container">
		<div class="grid">
			<div class="column">
				{{- with .Params.b_title -}}<h3>{{ markdownify . }}</h3>{{- end -}}
				{{- with .Params.b_1 -}}<p class="address">{{ markdownify . }}{{- end -}}
				{{- with .Params.b_2 -}}<br/>{{ markdownify . }}</p>{{- end -}}
				<div class="google-map-embed">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6115.817215130001!2d-74.216052!3d39.965796!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c19df669efd831%3A0x1628ad20e731f025!2s664%20Commons%20Way%20Building%20I%2C%20Toms%20River%2C%20NJ%2008755!5e0!3m2!1sen!2sus!4v1567958389249!5m2!1sen!2sus" width="100%" height="500" frameborder="0" style="border: 1px solid #999;" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
	</div>
</section>