<section id="services" class="anchor">
	<div class="services">
		<div class="container">
			<div class="grid">
				<div class="column">
					{{- with .Params.a_title -}}<h3>{{ markdownify . }}</h3>{{- end -}}
				</div>
			</div>
			<div class="grid">
				<div class="column">
					{{- with .Params.a_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					{{- with .Params.a_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
				</div>
				<div class="column">
					{{- with .Params.b_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					{{- with .Params.b_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
				</div>
				<div class="column">
					{{- with .Params.c_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					{{- with .Params.c_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
				</div>
			</div>
			<div class="grid">
				<div class="column">
					{{- with .Params.d_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					{{- with .Params.d_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
				</div>
				<div class="column">
					{{- with .Params.e_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					{{- with .Params.e_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
				</div>
				<div class="column">
					{{- with .Params.f_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					{{- with .Params.f_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
				</div>
			</div>
			<div class="grid">
				<div class="column">
					{{- with .Params.g_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					{{- with .Params.g_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
				</div>
				<div class="column">
					{{- with .Params.h_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					{{- with .Params.h_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
				</div>
				<div class="column">
					{{- with .Params.i_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					{{- with .Params.i_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
				</div>
			</div>
			<div class="grid">
				<div class="column">
					{{- with .Params.j_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					{{- with .Params.j_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
				</div>
				<div class="column">
					{{- with .Params.k_1 -}}<h4>{{ markdownify . }}</h4>{{- end -}}
					<ul>
						{{- with .Params.k_li_1 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_2 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_3 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_4 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_5 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_6 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_7 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_8 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_9 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_10 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_11 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_12 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_13 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_14 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_15 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_16 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_17 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_18 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_19 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_20 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_21 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_22 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_23 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_24 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_25 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_26 -}}<li>{{ markdownify . }}</li>{{- end -}}
						{{- with .Params.k_li_27 -}}<li>{{ markdownify . }}</li>{{- end -}}
					</ul>
				</div>
				<div class="column"></div>
			</div>
		</div>
	</div>
</section>